# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:
- Introduced jupyter notebook, how to make notebooks, and using markdown and code cells
- Introduced R, how to import libraries, and how to make some basic plots
- introduced Github, how to make a new repository, and how to upload code to the repository

## Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

## Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. matplotlib


|Data Science Tools |
| --- |
| RStudio | 
| spyder | 
| Apache Spark | 
| Jupyter notebook |

### Some arithmetic examples in python:

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author: 
Tyler T.